@media (min-width:320px){
    
    .tituloCarrito{
        text-align: center;
        background-color: $paleta-color3;
        padding: 10px;
    }
    .contenedor-carrito-btn{

        .btn-dos{
            margin-left: 10px;
            margin-top: 10px;
        }
    }
}