@media (min-width:320px){
    
    .tituloCarrito{
        text-align: center;
        background-color: $paleta-color3;
        padding: 10px;
    }
    .caja-box-changuito{
        background-color: $paleta-color5;
        margin-left: 20px;
        padding: 10px;
        position: absolute;
        z-index: 1;
        .bg-primar{
            color: $paleta-color4;
            text-align: center;
            font-weight: 700;
            font-size: xx-large;
        }
    }
}