@media (min-width:320px){
    
    .tituloCarrito{
        text-align: center;
        background-color: $paleta-color3;
        padding: 10px;
    }
    .caja-box-changuito{
        background-color: $paleta-color2;
        color: black;
    }
}