
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: $paleta-color5;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    color:white;
}

@media (min-width:320px){
    .contenedor-navbar{
        
        .navbar-color{
            background-color: $paleta-color1;
            color: beige;

            div{
                .navbar-brand{
                    color: antiquewhite;
                    text-transform: uppercase;
                    font-weight: 600;
                }

                ul{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    list-style-type: none;

                    li{
                        padding-left: 30px;

                        a{
                            text-decoration: none;
                            padding: 12px 20px;
                            color: white;
                            font-size: x-large;
                        }
                        .imgNav{
                            width: 35px;
                        }
                        .btn{
                            margin-top: 8px;
                            background-color: $paleta-color1;
                        }   
                    }
                } 
            }
        }
    }
    .tituloDiv{
        background-color: $paleta-color3;
        padding: 20px 0px;
        margin-top: 5px;
        text-align: center;
    }
    footer{
        background-color:$paleta-color1;
        text-align: center;
        padding: 5px;
    }
}
