@media (min-width:320px){

    .box-titulo{
        background-color: $paleta-color1;
        padding: 15px 0px;
        text-align: center;
        margin-top: 5px;
    }
    .seccion-uno{
        padding: 10px;

        #cajaUno{
            display: flex;
            flex-wrap: wrap;
            align-content: stretch;
    
            .boxJs{
                margin: auto;
                margin-top: 10px;

                .card{
                    width: 11rem;
                    height: 24rem;
                    color: black;
                    background-color: $paleta-color2;
                    border: 2px solid $paleta-color4;
                    margin: 5px;

                    .card-img-top{
                        width: 172px;
                        height: 140px;
                    }

                    button{
                        margin-left: 25px;
                    }
                }    
            }
        }
    }
    .seccion-dos{
        padding: 10px;

        #cajaDos{
            display: flex;
            flex-wrap: wrap;
            align-content: stretch;

            .boxDos{
                margin: auto;
                margin-top: 10px;

                .card{
                    width: 11rem;
                    height: 24rem;
                    color: black;
                    background-color: $paleta-color2;
                    border: 2px solid $paleta-color4;
                    margin: 5px;

                    .card-img-top{
                        width: 172px;
                        height: 140px;
                    }

                    button{
                        margin-left: 25px;
                    }
                }    
            }
        }
    }

    .contenedor-form{

        .caja-form{
            background-color: $paleta-color2;
            padding: 30px;
            padding-left: 30px;
            border-radius: 10px;
            margin: 10px 40px;
        }
    }
}
@media (min-width:768px){

    .seccion-uno{
        padding: 20px;

        #cajaUno{
            display: flex;
            flex-wrap: wrap;
            align-content: stretch;
            padding: 20px;
    
            .boxJs{
                margin: auto;
                padding: 10px;

                .card{
                    width:16rem;
                    height: 30rem;
                    color: black;
                    background-color: $paleta-color2;
                    border: 2px solid $paleta-color4;
                    margin: 10px;

                    button{
                        margin-left: 30%;
                    }
                    .card-img-top{
                        width: 252px;
                        height: 240px;
                    }
                }    
            }
        }
    }
    .seccion-dos{
        padding: 20px;

        #cajaDos{
            display: flex;
            flex-wrap: wrap;
            align-content: stretch;
            padding: 20px;

            .boxDos{
                padding: 10px;
                margin: auto;
                .card{
                    width:16rem;
                    height: 30rem;
                    color: black;
                    background-color: $paleta-color2;
                    border: 2px solid $paleta-color4;
                    margin: 10px;

                    button{
                        margin-left: 30%;
                    }
                    .card-img-top{
                        width: 252px;
                        height: 240px;
                    }
                }    
            }
        }
    }

    .contenedor-form{

        .caja-form{
            background-color: $paleta-color2;
            padding: 20px;
            padding-left: 50px;
            border-radius: 10px;
            margin: 5% 30%;

        }
    }
    .opinion-padre{
        .card{
            background-color: $paleta-color2;
            margin: 10px 10%;  
        }
        
    }
}